/*ベースグループ ===========================*/
body {
  font-family: sans-serif;
}

/*ly_  レイアウトグループを表す ===========================*/
.ly_cont {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*本来はsub-textなどのクラスセレクタを用いるべきであるが、影響範囲の解説のため敢えて要素セレクタを使用している*/
.bl_media .body > span {
  color: #555;
  font-size: 14px;
}

/*bl_ blockのbl。モジュールグループ（＝どのページでも再利用できる）を表す ===========================*/
.bl_media {
  /* モジュールに対する指定 */
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}
/*PRECSSの命名規則に従い、ハイフンケースでなくキャメルケースを用いる*/
.bl_media_imageWrapper {
  flex: 1 1 25%;
  margin-right: 3.33333%;
}
/*ある程度範囲が絞られる要素であれば要素名をセレクタにして問題なし*/
.bl_media_imageWrapper img {
  width: 100%;
  vertical-align: top;
}
.bl_media_body {
  flex: 1 1 68.33333%;
}
.bl_media_title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

/*
メディア全体を反転させるモディファイア
*/
.bl_media__rev {
  flex-direction: row-reverse;
  text-align: right;
}
.bl_media__rev .bl_media_imageWrapper {
  margin-right: 0;
}
.bl_media__rev .bl_media_body {
  margin-right: 3.33333%;
}

/*メディアの画像に枠線をつけるモディファイア*/
/*影響範囲は画像のみなので、bl_mediaでなく、子要素に対して直接モディファイアを付けるのが望ましい*/
.bl_media_imageWrapper__bordered {
  padding: 2px;
  border: 1px solid #aaa;
}

.subTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #555;
}

.el_btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  color: #fff; /*背景色と文字色をボタンのベースクラスとみなす*/
  background-color: #e25c00;
}

.hp_warning {
  color: #222;
  background-color: #f1de00;
}
.hp_bxshNone {
  box-shadow: none;
}

.hp_textBlack {
  color: #222;
}

.hp_textWhite {
  color: #fff;
}
