/*ベースグループ ===========================*/
body {
  font-family: sans-serif;
}

/*ly_  レイアウトグループを表す ===========================*/
.ly_cont {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*本来はsub-textなどのクラスセレクタを用いるべきであるが、影響範囲の解説のため敢えて要素セレクタを使用している*/
.bl_module.main-module .body > span {
  color: #555;
  font-size: 14px;
}

/*bl_ blockのbl。モジュールグループ（＝どのページでも再利用できる）を表す ===========================*/
.bl_module.main-module {
  /* モジュールに対する指定 */
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}
.bl_module.main-module .image-wrapper {
  flex: 1 1 25%;
  margin-right: 3.33333%;
}
/*ある程度範囲が絞られる要素であれば要素名をセレクタにして問題なし*/
.bl_module.main-module .image-wrapper img {
  width: 100%;
  vertical-align: top;
}
.bl_module.main-module .body {
  flex: 1 1 68.33333%;
}
.bl_module.main-module .title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.bl_module.main-module .sub-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #555;
}
